<!DOCTYPE HTML>
<html lang="en">
<head>
	<iz:layout:pos position="meta" />
	<iz:layout:head />
	<iz:layout:css path="~bootstrap.min" />
	<iz:layout:css path="~style" />
</head>
<body>
	<div class="topbar" data-scrollspy="scrollspy">
		<div class="topbar-inner">
			<div class="container">
				<a class="brand">Oxygen CMS</a>
			</div>
		</div>
	</div>
    <div id="wrapper" class="container">
		<div id="banner"></div>
		<div id="navigation"></div>
		<div id="main">
			
			<iz:layout:pos position="main" />			
		</div>
		<div id="footer"></div>		
	</div>
	<iz:layout:foot />
</body>
</html>