<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<iz:insert:config path="root.current_lang" />" lang="<iz:insert:config path="root.current_lang" />">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Administration</title>
    <iz:layout:pos position="header" />
    <iz:layout:head />
</head>
<body>
	<iz:layout:pos position="banner" />
	<iz:layout:pos position="main" />
    <iz:layout:pos position="footer" />
    <iz:layout:foot />
</body>
</html>
