html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
	/*background-image: url("../images/bg.png");*/
}
body {
	padding-top: 60px;
}
#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}
#wrapper {
	border: 1px solid #DDDDDD;
	padding-top: 30px;
}
.entityForm .label{
	font-size: 12px;
	text-transform: none;
	padding: 2px;
}
.entityForm td.label {
	text-align: center;
	vertical-align: middle;
	width: 150px;
}
.grid {
	width: 70em;
	height: 15em;
}
/* fix for extjs */
.x-grid-table {
	margin-bottom: 0;
}
.x-grid-table td, th{
	padding: 0;
}
