<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<iz:insert:config path="root.current_lang" />" lang="<iz:insert:config path="root.current_lang" />">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Control Panel</title>
    <!-- JQUERY & EXTJS -->
    <iz:layout:js path="~jquery" />   
    <iz:layout:js path="jslibs.extjs.3-x.adapter.jquery.ext-jquery-adapter" />
    <iz:layout:js path="jslibs.extjs.3-x.ext-all" />
    <iz:layout:js path="~dashboard" />
    <iz:layout:js path="~ext-dashboard" />
    
    <!-- WYSIWYG EDITOR -->
    <iz:layout:js path="jslibs.ckeditor.ckeditor" />
    <iz:layout:js path="jslibs.ckeditor.adapters.jquery" />
    <iz:layout:js path="jslibs.ckeditor.ext-ux-ckeditor" />
    
    <!-- SWF UPLOAD -->
    <iz:layout:js path="jslibs.izojs.extjs.3-0.swfupload.swfupload" />
    <iz:layout:js path="jslibs.izojs.extjs.3-0.swfuploadbtn.swfbtn" />
    <iz:layout:js path="jslibs.izojs.extjs.3-0.swfuploadbtn.swfupload-queue" />
    
    <!-- IMAGE EDITOR -->
    <iz:layout:js path="jslibs.izojs.extjs.3-0.imageeditor.imageeditor" />
    
    <!-- FILE UPLOAD FIELD -->
    <iz:layout:js path="jslibs.izojs.extjs.3-0.fileuploadfield.fileuploadfield" />
    <iz:layout:css path="jslibs.izojs.extjs.3-0.fileuploadfield.fileuploadfield" />

    <!-- ICON MANAGER -->
    <iz:layout:js path="jslibs.extjs.extensions.iconmgr.iconmgr" />
    
    <!-- ALERTBOX -->
    <iz:layout:js path="jslibs.extjs.extensions.alertbox.js.alertbox" />
    <iz:layout:css path="jslibs.extjs.extensions.alertbox.css.alertbox" />
    
    <!-- FILE MANAGER -->
    <iz:layout:css path="files.css.filemanager" />    
    
    <!-- EXTJS THEMES -->
    <iz:layout:css path="jslibs.extjs.themes.css.ext-all-notheme" />
    <iz:layout:css path="jslibs.extjs.themes.css.xtheme-blue" id="ext-theme"/>
    
    <!--DASHBOARD STYLE -->
    <iz:layout:css path="~dashboard" />
    <iz:layout:css path="~ext-dashboard" />
    
    <iz:layout:pos position="head" />
    <iz:layout:head />
    
    <script>
    Ext.onReady(function() {
        setTimeout(function(){
            Ext.get('loading').remove();
            Ext.get('loading-mask').fadeOut({remove:true});
        }, 250);
    });
    </script>
</head>
<body>
    <div id="loading-mask"></div>
    <div id="loading">
        <div class="loading-indicator">
            Loading...
        </div>
    </div>
	<div class="dashboard-container">
    	<iz:layout:pos position="banner" />
    	<div class="content-container">
        	<iz:layout:pos position="header" />
        	<br/>
        	<iz:layout:pos position="main" />
            <iz:layout:pos position="footer" />
        </div>
    </div>
    <iz:layout:foot />
</body>
</html>
