html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
	background-image: url("../images/bg.png");
}

#loginPanel {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #04aef4;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62cffc), to(#04aef4));
	background-image: -moz-linear-gradient(#62cffc, #04aef4);
	background-image: -ms-linear-gradient(#62cffc, #04aef4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62cffc), color-stop(100%, #04aef4));
	background-image: -webkit-linear-gradient(#62cffc, #04aef4);
	background-image: -o-linear-gradient(#62cffc, #04aef4);
	background-image: linear-gradient(#62cffc, #04aef4);
	border-bottom-color: #049cdb;	
} 

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}