<!DOCTYPE HTML>
<html lang="en">
<head>
	<script type="text/javascript">
		var djConfig = {
			baseScriptUri : "projects/base/local/all/jslibs/dojo",
			parseOnLoad : true
		};
	</script>
	<iz:layout:pos position="meta" />
	<iz:layout:head />
	<script type="text/javascript">
		dojo.require("dijit.MenuBar");
		dojo.require("dijit.PopupMenuBarItem");
		dojo.require("dijit.Menu");
		dojo.require("dijit.MenuItem");
		dojo.require("dijit.PopupMenuItem");
		dojo.require("dijit.layout.SplitContainer");
		dojo.require("dijit.layout.LayoutContainer");
		dojo.require("dijit.layout.AccordionContainer");
		dojo.require("dojox.layout.ContentPane");
		dojo.require("dijit.Toolbar");
		dojo.require("dojo.parser");  // scan page for widgets and instantiate them
		dojo.require("dijit.layout.TabContainer");
	</script>
	
	<iz:layout:css path="~style" />
</head>
<body class="claro">
    <iz:layout:pos position="main" />
	<iz:layout:foot /> 
</body>
</html>