body {
    height: 100%;
}
.action-container {
	width:980px;
	margin:0 auto;
	position:relative;
	
}
.dashboard-container {
	width:980px;
	margin:0 auto;
	position:relative;
}

.content-container {
	width:980px;
	margin:0 auto;
	position:relative;
	height:100%;
}
.grid-green-row {
    color: green;
}
.grid-red-row {
    color: red;
}
.grid-orange-row {
    
	color: #ff8000;
    
}